tr.ReadUnread td
{
/*background-color: orange!important;*/
color: blue!important;
font-weight:bold!important;
}

table.DataView tr td.Cell.ActionColumn a span.Inner {text-transform: none !important;}

table.DataView span.ObjectRef
{
display:none !important;
}

tr.HighPoints td.TotalPoints    
{
background-image:none!important;
    background-color:black!important;
    color:white;
    }