
/* Body Table */
tr.ReadUnread td {
    /*background-color: orange!important;*/
    color: blue !important;
    font-weight: bold !important;
}

table.DataView tr td.Cell.ActionColumn a span.Inner {
    text-transform: none !important;
}
/* Page HeaderBar*/
div#PageHeaderBar {
    display: none !important;
}

table.DataView span.ObjectRef {
    display: none !important;
}

tr.HighPoints td.TotalPoints {
    background-image: none !important;
    background-color: black !important;
    color: white;
}
/*  MenuBar Two-level Children*/
div.two-level div.children.level2 {
    /*background-image: url('../images/3.jpg');*/
    position: absolute;
    background-color: white;
    border: solid 5px black;
    border-top-width: 3px;
    padding: 6px 1px;
    box-shadow: 10px 10px 10px lightgray;
    /* margin-left: -25px;*/
    overflow: auto;
    z-index: 1;
    padding-right: 0px !important;
    font-size: 12px;
    border: 5px solid lightgray;
    border: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 100px #564c99;
}

/* RTL Rules */

body.RTL div.two-level ul li.level1 {
    float: right !important;
}

body.RTL div.two-level div.children div.column.level2 {
    float: right !important;
}

body.RTL div.two-level div.children.level2 {
    background-position: left 4% top !important;
    padding-left: 4px !important;
    padding-right: 0px !important;
    margin-left: -25px !important;
}

body.RTL .FixedDialog div.FixedTitle .Text {
    color: #333;
    font-size: 14px;
    text-align: center;
    padding-right: 160px;
}

body.RTL table.DataView tr.ActionRow td.ActionBar table.Groups tr td.FlatGroup span.FlatGroupIcon {
    padding-right: 20px;
    padding-top: 1px;
}

body.RTL #bn18 {
    top: 10%;
    right: 23%;
}

body.RTL .marketing .row {
    padding-left: 270px;
}

/*body.RTL div.two-level div.children div.column.level2 {
    border-right: 1px solid lightgray;
    
    padding-left: 15px;
}*/

body.RTL div#PageHeaderBar span {
    padding-left: 0;
    padding-right: 0px;
}

body .RTL div#PageHeaderBar {
    height: 0px;
    padding-left: 0px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 10% top;
    font: bold 11pt verdana;
    color: #666666;
    padding-top: 4px;
}
/* ModalPlaceholder */
body .ModalPlaceholder.FixedDialog.ui-draggable {
    border: 20px red !important;
}
/* Selected MenuBar Color */
div.two-level li.selected.level1 a.level1, div.two-level li.current a.level1 {
    font-weight: bold;
    color: darkred !important;
}

/* Table PageContent*/
table#PageBody tr td#PageContent {
    background-color: white;
    width: 100%;
    border-left: solid 1px #6f9dd9;
    border-right: solid 1px #6f9dd9;
    border-bottom: solid 1px #6f9dd9;
    padding: 8px;
    vertical-align: top;
    border-collapse: separate;
}

table#PageBody tr td#PageHeaderContent div.Header div.Title {
    font-family: Verdana;
    font-size: 20pt;
    color: Black;
    padding-right: 16px !important;
}


table.DataView tr.CategoryRow .Category table.Fields table.FieldWrapper td.Item div.Value input.TextInput, table.DataView tr.CategoryRow td.Fields div.Item div.Value table.Lookup tr td, table.DataView tr.Row td table.Lookup tr td, table.DataView tr.AlternatingRow td table.Lookup tr td, table.DataViewLookup tr td, table.DataView tr.CategoryRow td.Fields div.Item div.Value input.TextInput, table.DataView tr.CategoryRow td.Fields div.Item div.Value select, table.DataView tr.CategoryRow td.Fields div.Item div.Value textarea, div.QuickFind {
    border: solid 1px #c9c9c9;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.8), inset 0 1px 2px 0 rgba(0,0,0,0.1);
    padding: 5px !important;
    color: #222;
}
/* Header ActionRow */
table.DataView tr.ActionRow td.ActionBar {
    border-color: #ccc;
    border: 0px solid transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background-image: none;
    background-color: transparent;
    height: 0px;
}

/* table HeaderRow */
table.DataView tr.HeaderRow th.FieldHeaderSelector_Hover {
    background-color: #b0c4de;
    background-image: none;
}

table.DataView tr.Row td.Cell {
    background-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/* Table Highlight */
table.DataView tr.Highlight td.Cell {
    border-top-color: #e5e5e5;
    border-bottom-color: #e5e5e5;
    background-color: #e5e5e5;
    background-repeat: repeat-x;
    color: Black;
}

div.ActionBarHidden table.DataView tr.CategoryRow .Category table.Category tr td.HeaderText {
    font-size: 12px;
    background-color: #F5F5F5;
}

table.DataView tr.BottomButtonsRow td.ActionButtons table.ActionButtons tr td {
    border-top-color: #D9D9D9;
    color: #696969;
    padding-right: 5px;
    background-color: white;
}
/* Page Header Content */
table#PageBody tr td#PageHeaderContent div.Header div.Title {
    font-family: Verdana;
    font-size: 16pt;
    color: Black;
    padding-right: 16px !important;
}
/* Hover Menu */
.HoverMenu {
    border: 1px solid #8C8C8C;
    border: 1px solid rgba(0, 0, 0, .45);
    border-bottom: 1px solid #666;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-image: none;
    background-color: white;
    box-shadow: 0px 0px 100px #564c99;
}

    .HoverMenu .Break {
        border-top-color: #2980B9;
        margin-left: -1px;
    }

    .HoverMenu a.Item, .SearchBarCell option.Delete {
        color: #664a8e;
    }

    .HoverMenu a.Active {
        background-color: #6d84b4;
        border-top-color: #3b5998;
        border-bottom-color: #3b5998;
        border-left-color: #6d84b4;
        border-right-color: #6d84b4;
        color: #fff;
    }

    .HoverMenu a.Disabled {
        color: #696969;
    }

    .HoverMenu a.Item span.Text {
        color: #8c7373;
    }

    .HoverMenu a.Active span.Text {
        color: #bf5f5f;
    }

    .HoverMenu a.Item span.Description {
        color: #8c7373;
    }

    .HoverMenu a.Active span.Description {
        color: #fff;
    }
/* Nav MenuBar */
div.two-level a {
    text-decoration: none;
    color: #2980B9 !important;
    z-index: 5;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    /* transition: all 0ms ease-in; */
    transform: scale(1.0);
}


/* Alternating Row */
table.DataView tr.AlternatingRow td.Cell {
    background-color:#F8F9F9;
    border-top-color: white;
    border-bottom-color: rgb(255, 255, 255);
}
/* Selected Row */
table.DataView tr.Selected td.Cell {
    background-color: #D6EAF8;
    border-top-color: #D6EAF8;
    border-bottom-color: #D6EAF8;
    background-repeat: repeat-x;
}
/* Page Content SideBar*/
table#PageBody tr td#PageContentSideBar, table#PageBody tr td#PageContentLeftSide {
    background-image: none;
    background-color: #F2F3F4;
}
/* Page FooterBar*/
div#PageFooterBar {
    background-color: #fafafa;
    color: #2980B9;
    border-top: solid 1px #c0c0c0;
    padding-top: 12px;
}
/* Page FooterColor */
table#PageBody tr td#PageFooterSideBar, table#PageBody tr td#PageFooterLeftSide, table#PageBody tr td#PageFooterContent, table#PageBody tr td#PageFooterRightSide {
    background-color: #F2F3F4;
    background-image: none;
    height: 15px;
}
/* Membership Bar Placeholder */
.MembershipBarPlaceholder {
    background-color: #2980B9 !important;
    border-bottom-color: #2980B9 !important;
    padding-bottom: 4px;
}
/* BookMark */
table.LoginDialogCollapsed {
    color: white !important;
}

div.MembershipBar a, div.BookmarkBar table.Frame tr td a, div.BookmarkBar table.Frame tr td {
    color: white !important;
}

div.HelpLink, div.CultureLink {
    color: white !important;
    margin-top: 4px;
    padding-top: 0;
    top: 3px;
}
/*Page Header SideBar*/
table#PageBody tr td#PageHeaderSideBar img {
    width: 152px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}
/* Page Content Header*/
table#PageBody tr td#PageHeaderSideBar, table#PageBody tr td#PageHeaderLeftSide, table#PageBody tr td#PageHeaderContent, .HomePage table#PageBody tr td#PageHeaderContent {
    background-image: url('../images/22.jpg');
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-size: cover;
    border-left-color: transparent;
    border-right-color: transparent;
}

table#PageBody tr td#PageContent {
    background-color: #f7f7f7;
    border-color: transparent;
}
/* Page Content RightSide */
table#PageBody tr td#PageContentRightSide {
    background-color: #F2F3F4;
    background-image: none;
}

table#PageBody tr td#PageHeaderRightSide {
    background-image: none;
    background-color: #F2F3F4;
    background: linear-gradient(to bottom,#F2F3F4 0%,#F2F3F4 100%);
}
/* Page HeaderRow */
table.DataView tr.HeaderRow th {
    background-color: #f5f5f5;
    color: #444;
    background-image: none;
    border-bottom: solid 1px #aaa;
}
/* Page Content Header*/
table#PageBody tr td#PageHeaderContent div.Header div.Title {
    font-family: Verdana;
    font-size: 16pt;
    color: #2980B9;
    padding-right: 16px !important;
}
/* PageContent SideBar Summary */
table#PageBody tr td#PageContentSideBar div.TaskBox div.Summary, div.History div.TaskBox div.Summary {
    background-image: none;
    color: #2980B9;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #c4c4c4;
}
/* Selected two-level children color */
#ctl00_PageMenuBar > ul > li.level1.current.parent {
    color: red;
}
/* Selected TabsRow  */
div.TabBar table.Menu tr td.Selected a.Link, table.DataView tr.TabsRow td.TabsBar td.Selected span.Tab a {
    color: darkred !important;
}
/* Table Menu TabsRow Color */
div.TabBar table.Menu tr td.Item a.Link, table.DataView tr.TabsRow td.TabsBar span.Tab a {
    color: #2980B9;
    padding: 8px 2px;
    font-weight: bold;
    font-size: 12px;
}

div.two-level span.text {
    color: darkcyan;
    font-weight: bold;
    font-size:small ;
    margin-top: 12px;
    display: inline-table;
    padding-left: 20px;
    padding-right:40px;
    padding-top:10px;

}
/* Modal Heade Text Color */
.FixedDialog div.FixedTitle .Text {
    color: #333;
    font-size: 14px;
    text-align: center;
    padding-left: 100px;
}
/* MemberShipBar Color */
div.HelpLink, div.CultureLink {
    color: white !important;
    margin-top: 5px;
    padding-top: initial;
    top: 0px;
    height: 30px;
}
/*
    div.two-level div.children ul li {
    padding: 2px 0;
    background-image: url(../images/new-blue-dot.png);
    background-size: 20px 20px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
}
*/

/* Two-level Children column Height */
/*div.two-level div.children div.column.level2 {
    border-right: 1px solid lightgray;
    height: 510px;
    padding-right: 15px;
}*/
/* Home page */
.pages_home_aspx #PageContent {
    background-image: url('../images/3.jpg');
    background-repeat: no-repeat;
    border: 2px solid black;
    background-size: cover;
    background-color: transparent;
}
/* Table CategoryRow */
table.DataView tr.CategoryRow td.Fields {
    background-color: transparent;
    border-top-color: #cccccc;
}

#PageContent {
    background-color: white;
}

.RowContainer {
    padding-bottom: 8px;
    background: white;
}
/* Table HeaderRow */
table.DataView tr.HeaderRow th a {
    color: black;
    font-size: 11px;
}
/*.ModalPlaceholder {
    border-left: solid 1px dimgray;
    border-right: solid 1px dimgray;
    border-bottom: solid 1px dimgray;
    padding: 4px 8px 8px 8px;
    background-color: White;
    border-radius: 20px;
}*/
/* Modal */
.ModalPlaceholder {
    border: 0;
    background-color:#F2F3F4   ;
    box-shadow: rgba(0,0,0,0.75) 0 0 25px 0 !important;
    border-radius: 10px !important;
}
/* Table ActionRow */
body, .ParaText, .ParaHeader, .ParaInfo, table.DataView tr td, table.DataView tr.HeaderRow th, .HoverMenu, table.Menu a, div.MembershipBar, div.BookmarkBar, .TabContainer .ajax__tab_tab, span.ViewSelector a, table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

table.DataView tr.ActionRow td.ActionBar table.Groups tr td.QuickFind div.QuickFind {
    background-color: White;
    /* border: solid 1px silver; */
    /* padding: 1px 1px 2px 5px; */
    /* margin-top: 0; */
    height: 15px;
}

.HeaderText span.Text {
    float: left;
    height: 10px;
}
/* Slected Two-level Children Color */
div.two-level div.children li.level2.current a.level2, div.two-level div.children li.level3.current a.level3, div.two-level div.children li.level4.current a.level4 {
    font-weight: bold;
    color: darkred !important;
}


/* For OPU_CODE COntents */
td.Cell.Int_OPU_Code_Ln.Int64Type tr {
    text-align: center;
}
/*
    table.DataView tr.CategoryRow td.CategoryColumn table.Fields {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 9px;
    background-color: #F4F6F6;
}
*/
td.Cell.Doc_No.Int64Type.FirstColumn div {
    text-align: center;
}
#view1_Row0 > td.Cell.BudgetCode.DecimalType
{
 text-align: center;
}
td.Cell.Rec_Status.StringType.LastColumn tr {
    text-align: center;
}

div.TabBar{
    height:25px;
}

div.TabBar table.Menu tr td.Item a.Link, table.DataView tr.TabsRow td.TabsBar span.Tab a {
    color: #2980B9;
    padding: 0px 0px;
    font-weight: bold;
    font-size: 12px;
}
div.TabBar, table.DataView tr.TabsRow td.TabsBar {
  border-bottom-color: white;
}
div.TabBody {
	border-color: white;
}




