<?xml version="1.0" encoding="utf-8"?>
<!--
      Note: As an alternative to hand editing this file you can use the
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in
      machine.config.comments usually located in
      \Windows\Microsoft.Net\Framework\v2.x\Config
    -->
<configuration>
  <appSettings>
    <add key="AnnotationsPath" value="./equipmentData" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="MembershipProviderValidationKey" value="2BFD92930CE9B87B3AAE872CAA375834999775F90FCADA8CD312AC414808CBA1FB1B668AC4539D44A3738CF5845EE4192BD3FAC1B510DE0C4D4E4FAAC0D6BBD0" />
    <add key="BlobStorageKey" value="" />
    <add key="ItemMasterPhotoBlobAdapter" value="" />
    <add key="ItemImagePhotoBlobAdapter" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="MyCompany" connectionString="Data Source=habib;Initial Catalog=BNERP;Persist Security Info=True;User ID=sa;Password=admin123%;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" fileEncoding="utf-8" />
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only
        during development.
        -->
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="20" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="MyCompanyApplicationRoleProvider">
      <providers>
        <clear />
        <add name="MyCompanyApplicationRoleProvider" type="MyCompany.Security.ApplicationRoleProvider" connectionStringName="MyCompany" />
      </providers>
    </roleManager>
    <membership defaultProvider="MyCompanyApplicationMembershipProvider">
      <providers>
        <clear />
        <add name="MyCompanyApplicationMembershipProvider" type="MyCompany.Security.ApplicationMembershipProvider" connectionStringName="MyCompany" />
      </providers>
    </membership>
    <sessionState regenerateExpiredSessionId="true" mode="Custom" customProvider="ApplicationSessionState">
      <providers>
        <add name="ApplicationSessionState" type="MyCompany.Services.ApplicationSessionState" />
      </providers>
    </sessionState>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="MyCompany.Services.ApplicationSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="MyCompany" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Data Aquarium Framework and AjaxControlToolkit references-->
        <add tagPrefix="aquarium" namespace="MyCompany.Web" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
      <!--Data Aquarium Framework handlers-->
      <add verb="*" path="Blob.ashx" validate="false" type="MyCompany.Handlers.Blob" />
      <add verb="*" path="Theme.ashx" validate="false" type="MyCompany.Handlers.Theme" />
      <add verb="*" path="Export.ashx" validate="false" type="MyCompany.Handlers.Export" />
      <add verb="*" path="Import.ashx" validate="false" type="MyCompany.Handlers.Import" />
      <add verb="*" path="Report.ashx" validate="false" type="MyCompany.Handlers.Report" />
      <add verb="*" path="ControlHost.aspx" validate="false" type="MyCompany.Web.ControlHost" />
      <add verb="*" path="ChartHost.aspx" validate="false" type="MyCompany.Web.ChartHost" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" requestValidationMode="2.0" />
    <httpModules>
      <remove name="FormsAuthentication" />
      <add name="ExportAuthentication" type="MyCompany.Security.ExportAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
    </httpModules>
    <webServices>
      <protocols>
        <remove name="Documentation" />
      </protocols>
    </webServices>
    <trust level="Full" legacyCasModel="true" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.x.  It is not necessary for previous version of IIS.
      -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="ExportAuthentication" type="MyCompany.Security.ExportAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
    </modules>
    <handlers>
      <add name="All_XML" verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" resourceType="Unspecified" />
      <add name="Reserved_ReportViewerWebControl_axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" resourceType="Unspecified" />
      <!--Data Aquarium Framework handlers-->
      <add name="Blob_ashx" verb="*" path="Blob.ashx" type="MyCompany.Handlers.Blob" resourceType="Unspecified" />
      <add name="Theme_ashx" verb="*" path="Theme.ashx" type="MyCompany.Handlers.Theme" resourceType="Unspecified" />
      <add name="Export_ashx" verb="*" path="Export.ashx" type="MyCompany.Handlers.Export" resourceType="Unspecified" />
      <add name="Import_ashx" verb="*" path="Import.ashx" type="MyCompany.Handlers.Import" resourceType="Unspecified" />
      <add name="Report_ashx" verb="*" path="Report.ashx" type="MyCompany.Handlers.Report" resourceType="Unspecified" />
      <add name="ControlHost_ashx" verb="*" path="ControlHost.aspx" type="MyCompany.Web.ControlHost" resourceType="Unspecified" />
      <add name="ChartHost_ashx" verb="*" path="ChartHost.aspx" type="MyCompany.Web.ChartHost" resourceType="Unspecified" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="524288" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Pages">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Views">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Financial.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU,GlDataEntry" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/GeneralLedger.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU,GlDataEntry" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/COA.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BudgetManagment.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BudgetVerification.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,Super Admin,FAD,HDE" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/JournalManagment.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU,GlDataEntry" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/JournalVoucher.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU,GlDataEntry" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/JournalBatch.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ImportJV.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AccountStatments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DayBook.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AccountDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/InterCompanyJV_s.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CurrencyManager.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DefineCurrencyRate.aspx">
    <system.web>
      <authorization>
        <allow roles="hide" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Reports.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/TrialBalance.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProfitandLossStatement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BalanceSheetStatement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BalanceSheetByProject.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/UnpostedInvoices.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/UnpostedPayments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AccountLedger.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CashFlowStatments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProjectWiseInComeStatment.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProjectCostAllocation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProjectCostMoving.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AccountPayables.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DefineSupplier.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Supplier_Invoice.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierPayment_1.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierRetention.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/APReports.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierStatement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ViewPayments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AppliedTransactions.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ExpectedInvoice.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierInvoiceAgeing.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierLedger.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AccountReceivables.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DefineCustomer.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerInvoice.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerReceipt_1.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerRetention.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerStatement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/UnbilledInvoices.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerInvoiceAgeing.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerLedger.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/FixedAssets.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AssetsMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AssetsCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AssetsDepreciations.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AssetsMassAdditions.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AssetsSales.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AssetsLocation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/FixedAssetsRetirments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CashierActivities.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierActivities.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplierPayment.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CashPurchase.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SpplierPrepayments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PaymentSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerActivities.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CashSales.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/CustomerPrepayments_Advance_.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MiscActivities.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MultiLinePayments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MultiLineReceipts.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/MiscCashReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Misc_CashExpence.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BankReconciliation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BankCashInformation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BankTransfer.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BankCashBook.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SupplyChain.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU,PURSU,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Inventory.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PurchaseOrderManager.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PurchaseReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PurchaseReturn.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/FullPOReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/InventoryMasters.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ItemMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/InvItemCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ItemUOM.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SalesOrderManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DeliveryNote.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SaleReturn.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/FullSO_BOQDeliveries.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,INVSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Sales.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Quotation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SalesOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SalesLinesStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BackOrderManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/RequestForDelivery.aspx">
    <system.web>
      <authorization>
        <allow roles="HIDE,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/RequestForIssue.aspx">
    <system.web>
      <authorization>
        <allow roles="HIDE,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Purchasing.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PurchaseRequistion.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PurchaseOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PurchaseReports.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/RFQManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/RequestForQuotation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/QuoteAnalysis.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,PURSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BillOfMaterial.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SalesOrder_1.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/BOQ_Analysis.aspx">
    <system.web>
      <authorization>
        <allow roles="xxxxxxxx" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/SubContracting.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProgressDeliveryNote.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProjectItemIssuance.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProjectItemReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,OMSU" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Administration.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/FiscalYearDefination.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,GLUSER,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DepartmentProjectTree.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ProjectMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DefineInvoiceTypes.aspx">
    <system.web>
      <authorization>
        <allow roles="xxxxxxxxxxxxxxxxxx" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/InvoiceTypes.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Users.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin,FAD" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DefineRoles.aspx">
    <system.web>
      <authorization>
        <allow roles="XXXXX" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/UserRoles.aspx">
    <system.web>
      <authorization>
        <allow roles="hide" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ItemPriceList.aspx">
    <system.web>
      <authorization>
        <allow roles="Super Admin,HIDE,Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Sites_Tasks.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ApplicationSetup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/OrganizationDefinition.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DimensionLookUps.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/DefineValueSet.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin,HIDE" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/ReportsSetup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/AccountType.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/PaymentTerms.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators,GLSUUSER,Super Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/OtherApplications.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>